<div id="<%= dom_id wish %>">
  <p>
    <strong>Name:</strong>
    <%= wish.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= wish.description %>
  </p>

  <p>
    <strong>Estimation:</strong>
    <%= wish.estimation %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= wish.priority %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= wish.activity_id %>
  </p>

</div>
