<div id="<%= dom_id activity %>">
  <p>
    <strong>Name:</strong>
    <%= activity.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= activity.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= activity.start_date %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= activity.balance %>
  </p>

</div>
