<p style="color: green"><%= notice %></p>

<%= render @activity %>

<div>
  <%= link_to "Edit this activity", edit_activity_path(@activity) %> |
  <%= link_to "Back to activities", activities_path %>
  <%= link_to "Activity expense", activity_expense_new_path(@activity), class: ['btn', 'btn-active', 'btn-secondaryz'] %>
  <%= link_to "New activity income", activity_income_new_path(@activity), class: ['btn', 'btn-active', 'btn-primary'] %>

  <%= button_to "Destroy this activity", @activity, method: :delete %>
</div>
