<!DOCTYPE html>
<html>
  <head>
    <title>Harena</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body data-theme='business'>
    <div class="toast toast-top toast-center">
      <% if flash.alert %>
        <div class="alert alert-info">
          <span><%= flash.alert %></span>
        </div>
      <% end %>

      <% if flash.notice %>
        <div class="alert alert-success">
          <span><%= flash.notice %></span>
        </div>
      <% end %>
    </div>


    <%= render 'shared/navbar' %>

    <%= yield %>

    <%= render 'shared/footer' %>

    <%= console %>
  </body>
</html>
